@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body,
html {
    background-color: var(--light-white-color);
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue-color: #003781;
    --light-blue-color: rgba(0, 55, 129, 0.88);
    --light-white-color: rgb(250, 250, 250);
    --classic-white-color: rgb(255, 255, 255);
    --text-color: #232121;
}

/* Utility classes */

.blue-color {
    color: var(--dark-blue-color);
}

.white-color {
    color: var(--light-white-color);
}

.paragraph {
    line-height: 1.4;
    font-weight: 300;
    font-size: 1rem;
}

.center {
    text-align: center;
}

.section-margin {
    margin-top: 4rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.padding-inline {
    padding-inline: 1em;
}

/* Header */

.small-header {
    width: 100%;
    height: 25px;
    background-color: var(--light-blue-color);
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: .7rem;
    text-decoration: none;
}

.header-contacts a {
    text-decoration: none;
}

.main-header {
    background-color: var(--light-white-color);
    height: 80px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
}

.header-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

#logo {
    height: 65px;
}

.main-header ul li a,
#mobile-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.main-header nav ul {
    display: flex;
    gap: 3rem;
}

.main-header li {
    list-style-type: none;
}

/* Mobile Menu */

#mobile-menu {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

#mobile-menu .bar {
    margin: 8px;
    width: 30px;
    height: 3px;
    background: var(--text-color);
    border-radius: 2px;
    transition: margin 0.3s, transform 0.3s;
}

button#mobile-menu.close .bar:first-child {
    transform: translateY(10px) rotate(45deg);
}

button#mobile-menu.close .bar:nth-child(2) {
    opacity: 0;
}

button#mobile-menu.close .bar:last-child {
    transform: translateY(-12px) rotate(-45deg);
}

#mobile-nav {
    background: var(--light-white-color);
    display: none;
    position: absolute;
    top: 105px;
    right: 0px;
    z-index: 100;
    width: 100%;
}

#mobile-nav li {
    list-style-type: none;
    font-size: 1rem;
    padding: 1.5em;
    text-align: center;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
}

#mobile-nav a {
    display: block;
}

/* Homepage */

.homepage-photo {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.homepage-photo::before {
    content: '';
    position: absolute;
    opacity: 0.5;
    background-image: url('img/uvodni-fotka.jpg');
    background-position: center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.transparent-div {
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.text {
    margin-inline: 2rem;
    position: relative;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nejaky-div h3 {
    letter-spacing: .4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.nejaky-div :last-child {
    color: var(--dark-blue-color);
}

h1 {
    font-size: clamp(2.5rem, 2.1154rem + 1.9231vw, 5rem);
    line-height: 1;
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

.cta-button {
    font-size: .9rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.02em;
    width: 170px;
    height: 42px;
    font-weight: 500;
    border-radius: 6px;
}

.primary-button {
    color: var(--classic-white-color);
    background-color: var(--dark-blue-color);
    position: relative;
}

.cta-button>* {
    z-index: 2;
}

.primary-button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    transition: all .35s;
    border-radius: 6px;
}

/* Characteristic*/

.grid-characteristic {
    display: grid;
    gap: 2rem;
    max-width: 1400px;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top: -60px;
}

.one-grid-characteristic {
    background-color: var(--classic-white-color);
    padding: 2rem;
    border-top: 4px solid var(--light-blue-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.one-grid-characteristic h3 {
    text-transform: uppercase;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.grid-characteristic h3::after {
    content: "";
    display: block;
    width: 3rem;
    height: 0.5rem;
    background: linear-gradient(90deg, rgba(150, 195, 255, 1) 0%, rgba(53, 126, 224, 1) 49%, rgba(0, 55, 129, 1) 100%);
    margin: .5rem 0;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

/* O mně */

.flex {
    display: flex;
    gap: 2rem;
    max-width: 1400px;
    margin-inline: auto;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
}

.flex img {
    max-width: 450px;
    border-radius: 20px;
    object-fit: cover;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

/* Služby */

.h2-bg {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.h2-bg::before {
    content: '';
    position: absolute;
    opacity: 0.5;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.services-bg::before {
    background-image: url("img/sluzby.jpg");
    background-position: center;
    background-size: cover;
}

.h2-bg h2 {
    position: relative;
}

.service-text {
    background-color: #DCDCDC;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(600px + 4em);
    margin-inline: auto;
    padding: 3em;
    margin-top: 2rem;
    border-left: 5px solid var(--dark-blue-color);
}

.grid-services {
    display: grid;
    gap: 2rem;
    max-width: 1400px;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
}

.one-grid-services {
    background-color: var(--classic-white-color);
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.one-grid-services h3 {
    text-transform: uppercase;
}

.one-grid-services img {
    height: 48px;
}

/* Reference */

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-reference {
    padding: 3rem;
    border-radius: 20px;
    background-color: var(--classic-white-color);
    max-width: 800px;
    display: none;
}

.reference-paragraph {
    font-style: italic;
    font-weight: 300;
}

.reference-name {
    font-weight: 600;
}

.carousel-wrapper button {
    width: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
    flex-shrink: 0;
}

.carousel-wrapper button img {
    width: 100%;
    height: 100%;
}

.rotate180 {
    transform: rotate(180deg);
}

/* Kontakt */

.contact-bg::before {
    background-image: url("img/kontakt.jpg");
    background-position: center;
    background-size: cover;
}

.form-and-contact {
    display: flex;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
    justify-content: space-around;
    margin-top: 4rem;
    gap: 7rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    width: 500px;
    height: 50px;
    background-color: #eeeeee;
    font-family: "DM Sans", sans-serif;
    border: none;
    border-radius: 6px;
    padding: 1.5em 3em;
    font-size: 1rem;
    color: #555;
}

input::placeholder,
textarea::placeholder {
    color: #555;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    width: 500px;
    background-color: #eeeeee;
    font-family: "DM Sans", sans-serif;
    border: none;
    border-radius: 6px;
    resize: none;
    padding: 1.5em 3em;
    font-size: 1rem;
}

form p {
    color: #555;
    font-size: .8rem;
}

input[type="submit"] {
    font-family: "DM Sans", sans-serif;
    border: none;
    border-radius: 6px;
    height: 50px;
    cursor: pointer;
    font-size: .9rem;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
}

.email-and-phone {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.email-and-phone a {
    color: var(--text-color);
    font-size: 1.1rem;
}

.email-img,
.phone-img {
    background-color: var(--dark-blue-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email,
.phone {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 280px;
}

/* Footer */

footer {
    background-color: var(--dark-blue-color);
}

.footer-divs {
    display: flex;
    max-width: 1400px;
    width: 100%;
    flex-wrap: wrap;
    gap: 4rem;
    padding-inline: 1rem;
    padding-block: 1.5rem;
}

#footer-img {
    border-radius: 50%;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-details {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.footer-details li {
    list-style-type: none;
    color: var(--classic-white-color);
    font-size: .8rem;
}

.footer-ul li {
    list-style-type: none;
}

#footer-nav a {
    color: var(--classic-white-color);
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 30px;
    background: var(--text-color);
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.create span {
    color: var(--classic-white-color);
    font-size: .9rem;
}

/* Cookies */

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--light-blue-color);
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: none;
    /* Initially hidden */
}

.cookie-banner p {
    color: white;
}

.cookie-banner button {
    margin: 1rem .3rem;
    width: 100px;
    padding-block: .7rem;
    border: none;
    background-color: var(--light-white-color);
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    color: var(--text-color);
}

#accept-cookies {
    background-color: var(--text-color);
    color: var(--light-white-color);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue-color); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #252525; 
    transition: all .5s;
}

/* Media queries */

@media (hover: hover) {

    header nav ul li a:hover {
        color: var(--light-blue-color);
        transition: color .6s;
    }

    .primary-button:hover:after {
        width: 100%;
    }

    .secondary-button:hover {
        background-color: var(--text-color);
        color: var(--classic-white-color);
        transition: all .4s;
    }

    input[type="submit"]:hover {
        background-color: var(--text-color);
        transition: all .4s;
    }

    #footer-nav a:hover {
        color: rgb(155, 155, 155);
        transition: all .4s;
    }

    .cookie-banner button:hover {
        background-color: var(--text-color);
        color: var(--light-white-color);
        transition: all .5s;
    }

    #accept-cookies:hover {
        background-color: var(--light-white-color);
        color: var(--text-color);
        transition: all .5s;
    }

    .checkbox-select .dropdown label:hover {
        background-color: #c0c0c0;
    }
}

@media only screen and (max-width: 1300px) {
    .grid-services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1100px) {
    #mobile-menu {
        display: inline-block;
    }

    #primary-nav {
        display: none;
    }

    .grid-characteristic {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    .flex img {
        width: 100%;
    }

    .left-content {
        align-items: center;
    }

    .form-and-contact {
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    .checkbox-select,
    select,
    input[type="number"] {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .grid-characteristic,
    .grid-services {
        grid-template-columns: 1fr;
    }

    .one-reference {
        padding: 2rem;
    }

    .carousel-wrapper button {
        width: 30px;
    }
}



